@{
    Layout = null;
}

<html>

<body>
   
   
    <div style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:1em;font-kerning:normal; font-size:small;">
        <p>Hi @ViewBag.name,</p>


        <p>&nbsp;&nbsp;&nbsp; You are required to change your nickname.</p>
       <p>Please click <a href="http://localhost:30212/olex/online/change-nickname/@ViewBag.hashcode">here</a> to proceed.</p> 
       <br />
        <br />
        <p>Fastlogistics</p>
        <p>This is a system generated message.</p>
        <hr />
        <p style="font-size:10px;color:#686868;background:#f5f5f5;padding:10px">Copyright &copy; 2015 <a href="http://apps.fastgroup.biz">aquila.fastgroup.biz</a>   </p>
    </div>

</body>
</html>