@{
    Layout = null;
}
<html>

<body>

    <div style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:1em;font-kerning:normal; font-size:small;">
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
            Dear {0},
        </p>


        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
            &nbsp;&nbsp;&nbsp;
            This is to inform you that {1} has responded your issue on "{2}".
        </p>
        <table>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Source:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;  ">{3}</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Issue Id:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;  ">{4}</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Details:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;">{5}</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Action Plan:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;">{6}</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Recent Respond:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;">{7}</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Response Date:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;">{8}</td>
            </tr>
        </table>

        <i style="font-family: Verdana, sans-serif; font-size:11px;">Response Trail</i>

        <ul style="font-family: Verdana, sans-serif; font-size:11px; list-style:none; margin-bottom:5px;">
            <li>
                <img src="http://apps.fastgroup.biz/201pic/48px/1303830.jpg" width="32" height="32" style="float:left;" />
                <div >
                    <p style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold; float:left; padding-left:4px;">ronel gonzales
                    
                    </p>
          
                </div>
 
            </li>

        </ul>
        <br />
        <br />
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
            <!--Local-->
            Please click <a href="http://localhost:50217/Issues/?hcde={9}&rcd={10}">here</a> for your action.
            <!--Live-->
            <!--Please click <a href="#">here</a> for your action.-->
        </p>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">This is a system generated message; Please Don't Reply</p>

    </div>

</body>
</html>