<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <!--testlocal-->
    <!--<add name="COREDBEntities" connectionString="metadata=res://*/Core.Domain.ModelCoreDb.csdl|res://*/Core.Domain.ModelCoreDb.ssdl|res://*/Core.Domain.ModelCoreDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=COREDB;persist security info=True;user id=sa;password=@gonzales101;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="WMSDB_Entities" connectionString="metadata=res://*/Core.Domain.ModelWmsDb.csdl|res://*/Core.Domain.ModelWmsDb.ssdl|res://*/Core.Domain.ModelWmsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-182A9FF;initial catalog=WMSDB_BAK;persist security info=True;user id=sa;password=@gonzales101;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--test live-->
    <!--HO-->
    <!--<add name="WMSDB_VOICEEntities" connectionString="metadata=res://*/Core.Domain.ModelVoice.csdl|res://*/Core.Domain.ModelVoice.ssdl|res://*/Core.Domain.ModelVoice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.200.19.222;initial catalog=WMSDB_VOICE;persist security info=True;user id=webuser;password=w3bp@s$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="qmsDBEntities" connectionString="metadata=res://*/Core.Domain.QMSModel.csdl|res://*/Core.Domain.QMSModel.ssdl|res://*/Core.Domain.QMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=qms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="qmsDBEntities" connectionString="metadata=res://*/Core.Domain.ModelCoreDb.csdl|res://*/Core.Domain.ModelCoreDb.ssdl|res://*/Core.Domain.ModelCoreDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=COREDB;persist security info=True;user id=qmsuser;password=qmspassword;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="WMSDB_VOICEEntities" connectionString="metadata=res://*/Core.Domain.ModelVoice.csdl|res://*/Core.Domain.ModelVoice.ssdl|res://*/Core.Domain.ModelVoice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.69.240;initial catalog=WMSDB;persist security info=True;user id=voice;password=pick;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COREDBEntities" connectionString="metadata=res://*/Core.Domain.ModelCoreDb.csdl|res://*/Core.Domain.ModelCoreDb.ssdl|res://*/Core.Domain.ModelCoreDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=COREDB;persist security info=True;user id=webuser;password=w3bp@s$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="HRISDBEntities" connectionString="metadata=res://*/Core.Domain.ModelHRIS.csdl|res://*/Core.Domain.ModelHRIS.ssdl|res://*/Core.Domain.ModelHRIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iefastrak.flcprivate.dns;initial catalog=HRISDB;persist security info=True;user id=fscuser;password=fscpassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WMSDB_Entities" connectionString="metadata=res://*/Core.Domain.ModelWmsDb.csdl|res://*/Core.Domain.ModelWmsDb.ssdl|res://*/Core.Domain.ModelWmsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=AQUILADB_PC;persist security info=True;user id=ronel;password=rjgonzales;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ViewsDBEntities" connectionString="metadata=res://*/Core.Domain.ViewsModel.csdl|res://*/Core.Domain.ViewsModel.ssdl|res://*/Core.Domain.ViewsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=COREDB;persist security info=True;user id=riz;password=riz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QMSDBEntities" connectionString="metadata=res://*/Core.Domain.QMSLiveModel.csdl|res://*/Core.Domain.QMSLiveModel.ssdl|res://*/Core.Domain.QMSLiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=COREDB_MAIL;persist security info=True;user id=riz;password=riz;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="LocalDBEntities" connectionString="metadata=res://*/Core.Domain.localModel.csdl|res://*/Core.Domain.localModel.ssdl|res://*/Core.Domain.localModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\rizdb;initial catalog=QMS;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="COREDB_MAILEntities" connectionString="metadata=res://*/Core.Domain.MailModel.csdl|res://*/Core.Domain.MailModel.ssdl|res://*/Core.Domain.MailModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=COREDB_MAIL;persist security info=True;user id=riz;password=riz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QMSDB" connectionString="metadata=res://*/Core.Domain.QMSLiveModel.csdl|res://*/Core.Domain.QMSLiveModel.ssdl|res://*/Core.Domain.QMSLiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=COREDB;persist security info=True;user id=qmsuser;password=qmspassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COREDB" connectionString="metadata=res://*/Core.Domain.CoreModel.csdl|res://*/Core.Domain.CoreModel.ssdl|res://*/Core.Domain.CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=core.fastgroup.biz;initial catalog=COREDB;persist security info=True;user id=webuser;password=w3bp@s$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="paloupattachmentpath" value="D:\\MIFS\\otherFile\\" />-->
    <!--<add key="imgConvert" value="http://apps.fastgroup.biz/fastdrive/MIFS/imgConvert/300px/" />
      <add key="otherFile" value="http://apps.fastgroup.biz/fastdrive/MIFS/otherFile/" />-->
    <!--<add key="coredomain" value="http://coreapi.fastlogistics.com.ph/" />-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AuthTokenExpiry" value="7" />
    <add key="AuthTokenExpiryMobile" value="100" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="TimeZoneId" value="Pacific Standard Time" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="reviewLink" value="apps.fastlogistics.com.ph/qms/changenotice/ChangeNoticeReview" />
    <add key="approverLink" value="apps.fastlogistics.com.ph/qms/changenotice/ChangeNoticeApproval" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="1048576" />
    <compilation targetFramework="4.5.1">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        
        
    
    
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /><add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /><add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.6.1" />-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.9.0" newVersion="2.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 2F4813C3-0019-48B4-80FD-4FF0BFB6DDA1-->