
@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h3>Password Reset</h3>

<div id="resetpassword" ng-app="apps" ng-controller="resetPassword">

    <div class="form-group">
        <label for="newpasswordInput">New Password</label>
        <input type="password" ng-model="password" ng-change="validationInputPwdText(password)" maxlength="15" class="form-control" id="newpasswordInput" aria-describedby="emailHelp" placeholder="New Password">
        <small id="emailHelp" class="form-text text-muted">To conform with our Strong Password policy, you are required to use a sufficiently strong password. Password must be more than 7 characters.</small>
        <div class="form-text text-muted" style="color:aliceblue; padding-left:10px;font-weight:bold;" ng-style="checkpwdStrength">{{passwordStrength}}</div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" ng-model="ccpassword" class="form-control" id="exampleInputPassword1" maxlength="15" placeholder="Password">
    </div>
    <button class="btn btn-primary" ng-click="onSubmitPassword()">Submit</button>
</div>

@section scripts {
    <script>
        angular.module('apps', [
            'toastr',
            'ngAnimate'
        ])
            .controller("resetPassword", ['$scope', 'toastr', '$http',
            function ($scope, toastr, $http) {

                var strongRegularExp = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{8,})");
                var mediumRegularExp = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");
                var hostname ="http://"+ window.location.host;

                $scope.password = '';
                $scope.ccpassword = '';

                $scope.checkpwdStrength = {
                    "width": "150px",
                    "height": "25px"
                };
                $scope.passwordStrength = 'Low';
                $scope.checkpwdStrength["background-color"] = "red";

                $scope.onSubmitPassword = function () {
                    if ($scope.password.length == 0 || $scope.ccpassword.length == 0) {
                        toastr.error("Password and Confirm Password has required!");
                        return;
                    } else if ($scope.password != $scope.ccpassword) {
                        toastr.error("password and confirm password must be same!");
                        return;
                    }

                    if (mediumRegularExp.test($scope.password) == true) {
                          var param = {
                    uuId:'@ViewBag.uuid',
                    password:$scope.password
                        }

                          $http.put(hostname + "/api/access/resetpassword", param)
                              .then(function successCallback(response) {
                              
                                  toastr.success("Reset password complete.");
                                  window.location.replace(hostname);//redirect to home page
                              },
                              function errorCallback(response) {
                                  toastr.error(response.data);
                              })


                    } else {
                        toastr.error("Please enter medium strength password!");
                    }
                }

                $scope.validationInputPwdText = function (value) {
                    if (strongRegularExp.test(value)) {
                        $scope.checkpwdStrength["background-color"] = "green";
                        $scope.passwordStrength = 'Strong';
                    } else if (mediumRegularExp.test(value)) {
                        $scope.checkpwdStrength["background-color"] = "orange";
                        $scope.passwordStrength = 'Medium';
                    } else {
                        $scope.checkpwdStrength["background-color"] = "red";
                        $scope.passwordStrength = 'Low';
                    }
                };



            }]);
    </script>
}
